body{
  background: #000;
}

.App{
  height: 100vh;
  color: #efa;
  display: flex;
  flex-direction: column;
  font-size: 10vmin;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.title{
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.15em;
}

.verse{
  text-align: center;
}

.picture{
  height: 17vh;
  width: auto;
}

.pictureRow{
  text-align: center;
}

@keyframes opening {
  from{ width: 80vw; }
  to{ width: 0vw; }
}

.curtain{
  background: #000;
  position: absolute;
  top: 0px;
  height: 100vh;
  animation-name: opening;
  animation-duration: 4s;
}

.curtainLeft{
  left: 0px;
}

.curtainRight{
  right: 0px;
}